<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KPLC Tokens | Home</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/assets/fonts/fontawesome/css/all.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <header class="header">
        <img src="/img/logo.png" alt="logo" class="logo">

        <div class="icons">
            <i class="fas fa-moon icon"></i>
        </div>

        <nav>
            <ul class="nav-links">
                <li><a href="#">Home|</a></li>
                <li><a href="#">Offers</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        <a href="#"><button class="cta">Buy Tokens</button></a>
    </header>


    <section class="hero">
        <img id="hero" class="hero-img" src="/img/pic5_alt.png" alt="">
        <div>
            <h2 class="heading">Get Tokens at Affordable Rates</h2>
            <p class="hero-text">
                Kenya Power and Lighting Company, commonly referred to as Kenya Power or shortened KPLC, is a public
                liability company which transmits, distributes and retails electricity to customers throughout Kenya.
            </p>
        </div>
    </section>

    <section class="content">
        <h2 class="section-heading"><span>Offers</span></h2>
        <div class="container">
            <div class="box">
                <img src="/img/pic2.jpg" alt="" class="img">
                <h2><span>KES</span>50/=</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, fugit molestias earum eum neque
                    nisi ex voluptate a reprehenderit ut?
                </p>
                <button class="btn">Buy Now</button>
            </div>

            <div class="box">
                <img src="/img/pic2.jpg" alt="" class="img">
                <h2><span>KES</span>75/=</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, fugit molestias earum eum neque
                    nisi ex voluptate a reprehenderit ut?
                </p>
                <button class="btn">Buy Now</button>
            </div>

            <div class="box">
                <img src="/img/pic2.jpg" alt="" class="img">
                <h2><span>KES</span>100/=</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, fugit molestias earum eum neque
                    nisi ex voluptate a reprehenderit ut?
                </p>
                <button href="#home" class="btn">Buy Now</button>
            </div>
        </div>
    </section>

    <section class="form">
        <div class="form-container">
            <form action="">
                <h2 class="form-title"><span>Create an Account and Get Free Vouchers...</span></h2>
                <input type="email" id="user-input" placeholder="Active Email...">
                <input type="text" placeholder="Phone Number(+Area code-010...)">
                <button class="submit-btn">Submit</button>
            </form>
        </div>
    </section>


    <section class="footer">
        <img src="/img/logo_yellow.png" alt="logo" class="img">
        <h2 class="slogan">Services you can trust</h2>
        <a href="#hero" class="link">KPLC Tokens 2022&copy;</a>
    </section>
    <script src="/assets/fonts/fontawesome/js/all.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>